body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#6a5acd,#4facfe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
}

.login-container{
    background:white;
    padding:40px;
    border-radius:12px;
    text-align:center;
    width:350px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

h1{
    color:#6a5acd;
    margin-bottom:10px;
}

p{
    color:gray;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:12px;
    border-radius:6px;
    border:1px solid #ddd;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
    background:#6a5acd;
    border:none;
    color:white;
    border-radius:6px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#5846c2;
}